

@{
  Layout = "_Layout";
}
@using VendorTracker.Models;


<h1>Vendor: @Model["vendor"].Name</h1>

<h1>Vendor Tracker order Details: </h1>
    <h4>Order Title: @Model["order"].Title</h4>
    <h4>Order Description: @Model["order"].Description</h4>
    <h4>Order Price: @Model["order"].Price</h4>
    <h4>Order Date: @Model["order"].Date</h4>
  

<a href='/vendors/@Model["vendor"].Id/orders/new'><button>Add another item</button></a>
<a href='/vendors'><button>View all vendors</button></a>